[ req ]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[ dn ]
C = IT
O = Forest Company
CN = Salvatore Mennella
serialNumber = MNNSVT51B05L259L

[ v3_req ]
basicConstraints = critical, CA:FALSE
keyUsage = critical, digitalSignature, nonRepudiation
extendedKeyUsage = codeSigning
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
certificatePolicies = 0.4.0.194112.1.2